<p-toast></p-toast>
<!-- Survey Tab -->
<div class="mt-2">
    <p-tabView>
    <!-- Survey Table -->
        <p-tabPanel header="Surveys">
            <app-survey></app-survey>
        </p-tabPanel>
        <p-tabPanel header="Questions">
            <app-questions></app-questions>
        </p-tabPanel>
        <p-tabPanel header="Answers">
            <app-answers></app-answers>
        </p-tabPanel>
        <p-tabPanel header="Sources">
            <app-sources></app-sources>
        </p-tabPanel>
    </p-tabView>
</div>
