<div class="card">

    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewProductBrand()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <div class="flex">
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt 
        [value]="productBrands" 
        [rows]="10" 
        [paginator]="true" 
        [globalFilterFields]="['name','description']"
        styleClass="p-datatable-sm"
        [rowHover]="true" 
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div class="page-title">Manage Product Brands</div>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="name">Brand Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="description">Brand Description <p-sortIcon field="description"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productBrand let-expanded="expanded">
            <tr>
                <td>
                </td>
                <td>{{productBrand.name}}</td>
                <td>{{productBrand.description}}</td>
                <td>
                    <button 
                        pButton 
                        pRipple 
                        title="Edit Survey"
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-success mr-2" 
                        (click)="editProductBrand(productBrand)">
                    </button>
                    <!--
                    <button 
                        pButton 
                        pRipple 
                        title="View Survey"
                        icon="pi pi-eye" 
                        class="p-button-rounded p-button-warning mr-2" 
                        (click)="viewPro(product)">
                    </button> -->
                    <button 
                        pButton 
                        pRipple 
                        title="Delete Survey"
                        icon="pi pi-trash" 
                        class="p-button-rounded p-button-danger" 
                        (click)="deleteProductBrand(productBrand)">
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between" *ngIf="productBrands.length === 1">
                In total there is {{productBrands ? productBrands.length : 0 }} product brand
            </div>
            <div class="flex align-items-center justify-content-between" *ngIf="productBrands.length === 0 || productBrands.length > 1">
                In total there are {{productBrands ? productBrands.length : 0 }} product brands
            </div>
        </ng-template>
    </p-table>
</div>

<!-- Survey Dialog -->

<p-dialog 
    [(visible)]="productBrandDialog" 
    [style]="{width: '400px'}" 
    header="Product Brand Details" 
    [modal]="true"
    styleClass="p-fluid formgrid">

    <ng-template pTemplate="content">
    <div class="card">
        <div class="formgrid grid">
            <div class="field col-12 md:col-12">
                <label>Brand Name</label>
                <input 
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    type="text" 
                    id="ame" 
                    name="name" 
                    pInputText
                    [(ngModel)]="productBrand.name" 
                    required />
            </div>
            <div class="field col-12 md:col-12">
                <label>Description</label>
                <input 
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    type="text" 
                    id="description" 
                    name="description" 
                    pInputText
                    [(ngModel)]="productBrand.description" 
                    required />
            </div>
        </div>
    </div>
    </ng-template>

    <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideProductBrandDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="validateProductBrandForm()"></button>
    </ng-template>
</p-dialog>
