.body-section {
    font-family: var(--sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    background-size: cover;
    background-position: bottom center;

    //line-height: 1.5;
    min-height: 90vh;
}
