

.loginForm {
    width: 30%;
    margin-left: 35%;
    padding-top: 15rem;
    border-radius: 10%;
    border: 2px;
}
/*
.block {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    box-shadow: inset 0px 0px 10px 20px white;
}

    
.bg-text {
    //    background-color: rgb(0,0,0); /* Fallback color *
        background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through *
        color: white;
        font-weight: bold;
        font-size: 80px;
        border: 10px solid #f1f1f1;
        position: fixed; /* Stay fixed *
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 500px;
        padding: 20px;
        text-align: center;
    }
*/    
    .mma-logo {
        background-color: rgba(0,0,0, 0.0); /* White w/opacity/see-through */
        //border: 1px solid #919191;
        position: fixed; /* Stay fixed */
        top: 87%;
        left: 90%;
        transform: translate(-20%, -20%);
        z-index: 0;
        text-align: center;
    }
    