<p-toast></p-toast>
<!-- Survey Tab -->
<div class="mt-2">
    <p-tabView>
    <!-- Survey Table -->
        <p-tabPanel header="Cost Types">
            <app-cost-type></app-cost-type>
        </p-tabPanel>
        <p-tabPanel header="Line Items">
            <app-record-type></app-record-type>
        </p-tabPanel>
        <p-tabPanel header="Categories">
            <app-category></app-category>
        </p-tabPanel>
        <p-tabPanel header="Estimate Types">
            <app-estimate-type></app-estimate-type>
        </p-tabPanel>
        <p-tabPanel header="Estimate Statuses">
            <app-estimate-status></app-estimate-status>
        </p-tabPanel>
    </p-tabView>
</div>
