.totalsLabel {
    text-align: left; 
    vertical-align: middle;
    padding-left: 1em; 
    font-size: medium;
}

.totalsAmt {
    text-align: right; 
    vertical-align: middle; 
    padding-right: 1em;
    font-size: large;
}

